[Desktop Entry]
Exec=qnotepad
Version=1.1
GenericName=Text Editor
Name=QNotepad
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
Categories=Qt;Utility;TextEditor;