[Desktop Entry]
Exec=qnotepad
Version=0.01
GenericName=Text Editor
Name=QNotepad
NoDisplay=false
StartupNotify=true
Terminal=0
Type=Application
X-KDE-SubstituteUID=false
Categories=Qt;Utility;TextEditor;